@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');
/*===================================
           VARIABLES
=====================================*/
:root{
    --color-letra-claro: #fff;
    --color-oscuro: #242424;
    --fsize: 1.2em;
    --fcoment: 0.9em;
}
/*===================================
           ESTILOS GENERALES
=====================================*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;

    background-color: var(--color-oscuro);
    border: 1px solid #161616;
    color: var(--color-letra-claro);
    border-radius: 5px;
    padding: 5px 10px;
}
button{
    border: 1px solid #ef546d;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    background-color: #ef546d;
    width: 100%;
    transition: all 0.7s;
}
button:hover{
    background-color: #26b9e9;
    color: var(--color-letra-claro);
    border-color: #26b9e9;
}
img{
    height: 100%;
    width: 100%;
}
/*===================================
=====================================*/
main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    width: 600px;
    border-radius: 5px;
    background-color: #2d2d2d;
}
main::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
main h1{
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--color-letra-claro);
}
.load > main::before{
    display: block;
}
/*===================================
=====================================*/
.search-user{
    margin: 10px 0 45px 0;
    width: 350px;
}
.search-user-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: var(--color-letra-claro);
}
.search-user-text label{
    font-weight: 800;
}
.search-user form input{
    width: 100%;
    margin-left: 5px;
}
/*===================================
=====================================*/
.user-git{
    display: none;
    align-items: center;
    height: 200px;
    margin-bottom: 15px;
}
.user-git-img{
    display: flex;
    align-items: center;
    max-width: 175px;
    margin-right: 10px;
}
#user-img{
    border-radius: 50%;
}
.user-git-profile{
    padding: 10px;
    border: 1px solid var(--color-oscuro);
    border-radius: 10px;
    background-color: var(--color-oscuro);
    color: #ef546d;
}
.user-git-profile h3{
    margin: 10px 0;
}
.user-git-profile span{
    color: var(--color-letra-claro);
    font-weight: 400;
}
.user-git-profile-details{
    font-weight: 600;
    margin-left: 70px;
}